<h1>Add a New Dish</h1>
<h2>Use this form to add a new dish to the database. </h2>
<p>Don't try to find me.</p>

<form>
    <!-- Dish name input -->
    <div class="form-group row">
        <label for="dish_name" class="col-sm-2 col-form-label"> Dish Name </label>
        <input type="dish_name_string" class="col-sm-5 form-control" id="dish_name" placeholder="Name of the dish">  </input>
    </div>
        
    <!-- Date of menu input -->
    <div class="form-group row">
        <label for="dish_name" class="col-sm-2 col-form-label"> Date </label>
        <input type="dish_name_string" class="col-sm-5 form-control" id="dish_name" placeholder="Date of the dish">  </input>
    </div>
    
    <!-- Select menu -->
    <div class="form-group row">
        <label for="menu_select" class="col-sm-2 col-form-label"> Menu </label>
        <select class="col-sm-5 form-control" id="menu_select" placeholder="--Menu--">
            <option> Main Menu </option>
            <option> Bistro Menu </option>
        </select>
    </div>
</form>

<form class="ingredient_list">
</form>

    <!-- Add ingredient button -->
    <button class="add_ingredient"> Add Ingredient </button>
    
    <p>╮(╯▽╰)╭</p>
    <p> When you feel you are ready, save this dish and get ready for serving. </p>
    <!-- Save Button -->
    <button> Save </button>