<h1>Prep#prep-page</h1>
<p>Find me in app/views/prep/prep-page.html.erb</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Amount</th>
      <th scope="col">Purpose</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Potates</th>
      <td>6 oz</td>
      <td>French Fries</td>
      <td><input type="checkbox"></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td><input type="checkbox"></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td><input type="checkbox"></td>
    </tr>
  </tbody>
</table>