<h1>Prep#prep-page</h1>
<p>Find me in app/views/prep/prep-page.html.erb</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Amount</th>
      <th scope="col">Purpose</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= puts @ingriedent_array.inspect %>
    <% @ingriedent_array.each do |arr| %>
      <tr>
        <td><%= arr[0] %></td>
        <td><%= arr[1] %></td>
        <td><input type="checkbox"></td>
      </tr>
   <% end %>
   
  </tbody>
</table>