<h1>To-Do</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Amount</th>
      <th scope="col">Done?</th>
    </tr>
  </thead>
  <div id="checkbox-container">
  <tbody>
    <%= puts @ingriedent_array.inspect %>
    <% @ingriedent_array.each do |arr| %>
      <tr>
        <td><%= arr[0] %></td>
        <td><%= arr[1] %></td>
        <td><input type="checkbox" class="check" name="check" id="checkid"></td>
      </tr>
   <% end %>
  </tbody>
  </div>
</table>