<h1>Admin Tasks Page</h1>
<h2>
  <%= link_to "Menu Page", root_path) %>
</h2>
<%= link_to "Menu Page" root_path) %>
<h2>
  <%= link_to "User Management", user_management_path %>
</h2>

<h2>
  Dish Management (NOT YET IMPLEMENTED)
</h2>

<h2>
  Menu Management (NOT YET IMPLEMENTED)
</h2>
