
<h1>Editing Ingredient</h1>


<%= render 'form', ingredient: @ingredient %>

<<<<<<< HEAD
<%= link_to 'Show', @ingredient ,class: "btn btn-primary"%> |
<%= link_to 'Back', :back,class: "btn btn-primary"  %>
=======
<%= link_to 'Show', @ingredient %> |
<a href="javascript:history.back()">Back</a>
>>>>>>> 259fedf027de4e4dff4d65622e2846890ed0bf1f
