<div class="container">
<h1>Add a New Dish</h1>
<p>Use this form to add a new dish to the database. </p>
<p>The new dish will be permanantly added to the full cycle.</p>
<form accept-charset="UTF-8" action="/dish/add_to_cycle" method="post" class="new_dish">
     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <!-- Dish name input -->
    <div class="form-group row">
        <label for="dish_name" class="col-sm-2 col-form-label" > Dish Name : </label>
        <input type="dish_name_string" class="col-sm-5 form-control" id="dish_name" name="dish_name" placeholder="Name of the dish">  </input>
    </div>
    
    <!-- Select menu -->
    <div class="form-group row">
        <label for="menu_select" class="col-sm-2 col-form-label"> Menu : </label>
        <select class="col-sm-5 form-control" id="menu_select" name="menu_select" placeholder="--Menu--">
            <option> -- Please select --</option>
            <option> Main Menu </option>
            <option> Bistro Menu </option>
        </select>
    </div>
    
    <!-- Date of menu input -->
    <div class="form-group row">
        <label for="dish_date" class="col-sm-2 col-form-label"> Date : </label>
        <select class="col-sm-2 form-control" id="dish_date_week" name="dish_date_week" placeholder="--Week--"> 
            <option> --Week--</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
        </select>
        <select class="col-sm-2 form-control" id="dish_date_day" name="dish_date_day" placeholder="--Day--"> 
            <option> --Day--</option>
            <option>Sunday</option>
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Satuday</option>
        </select>
    </div>
    
    <!-- Add ingredient button -->
    <button class="add_ingredient btn btn-secondary"> Add Ingredient </button>
    
    <!-- The thing that we want to insert new ingredients before-->
    <p class="insert_before_this">  </p>
    <p> When you feel you are ready, save this dish and get ready for serving. </p>
    <!-- Save Button -->
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
    
</div>