<div class="container">
<h1>Add a New Dish</h1>
<h2>Use this form to add a new dish to the database. </h2>
<p>Don't try to find me.</p>
<form accept-charset="UTF-8" action="/dish/add_to_cycle" method="post" class="new_dish">
     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <!-- Dish name input -->
    <div class="form-group row">
        <label for="dish_name" class="col-sm-2 col-form-label" > Dish Name : </label>
        <input type="dish_name_string" class="col-sm-5 form-control" id="dish_name" name="dish_name" placeholder="Name of the dish">  </input>
    </div>
    
    <!-- Select menu -->
    <div class="form-group row">
        <label for="menu_select" class="col-sm-2 col-form-label"> Menu : </label>
        <select class="col-sm-5 form-control" id="menu_select" name="menu_select" placeholder="--Menu--">
            <option> -- Please select --</option>
            <option> Main Menu </option>
            <option> Bistro Menu </option>
        </select>
    </div>
    
    <!-- Date of menu input -->
    <div class="form-group row">
        <label for="dish_date" class="col-sm-2 col-form-label"> Date : </label>
        <input type="dish_date_string" class="col-sm-5 form-control" id="dish_date" name="dish_date" placeholder="Date of the dish">  </input>
    </div>
    
    <!-- Add ingredient button -->
    <button class="add_ingredient btn"> Add Ingredient </button>
    
    <!-- The thing that we want to insert new ingredients before-->
    <p class="insert_before_this">╮(╯▽╰)╭</p>
    <p> When you feel you are ready, save this dish and get ready for serving. </p>
    <!-- Save Button -->
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
    
</div>