<main role="main" class="container">
  <div class="row justify-content-center">
    <h1>Welcome to your Rails app!</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-md">
      <p>This is your first page.</p>
      <p>Find me in app/views/pages/home.html.erb</p>
    </div>
    <div class="col-md">
      <p>
      If you are ready to replace this with something else, you can:
      <ul>
        <li>Remove this view file</li>
        <li>Remove the PagesController</li>
        <li>Set the root to something else in routes.rb</li>
      </p>
    </div>
  </div>
</main>
