<main role="main" class="container">
  <head>
  </head>
  
  <body>
  <div class="row justify-content-center">
  </div>
  <div class="row justify-content-center">
 
    <div class="col-md">
    </div>
  </div>
  
  <div class="container-fluid">
      <div class="page-header">
    
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h1>Menu</h1>
            <div class="form-group row">
              <div class="col-xs-2">
                <label for="ex1">Choose Date:</label>
                <input class="form-control" id="datePicker" type="date" >
              </div>
            </div>
            <div class="input-group date">
          
              <span class="input-group-addon">
                  <i class="glyphicon glyphicon-th"></i>
              </span>
        </div>
        
        </div>
    </div>
    <div class="row">
      <div class="col-lg-2" >
        <ul>
          <a href="#" onclick="return false;" id ="todText"><li>See today's menu</li></a>
          <a href ="#" onclick="return false;" id ="tomText"><li>See tomorrow's menu</li></a>
        </ul>
      </div>
      
      <div class="col-lg-8 text-center" >
 
        
        <h2 style="margin-top: 10px; color: #993300;" id ="headerDate">Temporary Menu for Today</h2>
        <hr>
        
        <ul> <% @dishes.each do |element| %>
         <li>
          <span><%= element.name %></span>
           <%= link_to 'Edit'.html_safe, edit_dish_path(element), :class=>"btn btn-primary" %>
           <%= link_to 'Destroy'.html_safe, element, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"btn btn-primary"%>
        </li>
            <% end %>
        </ul>
      </div>
      
      <div class="col-lg-2" >
        <% if user_signed_in? %>
          <li style = "list-style-type:none; padding-left: 0;">
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
        <a href="../users/sign_in"><button type="button" class="btn btn-primary" style = "background-color: #3A6F8D; text-color: #000000;">Staff Login</button></a>
        <% end %>
      </div>
    </div>
  </div>
  
  </body>
</main>
