// Place all the styles related to the menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pad {
    margin-top: 20px;
    margin-bottom: 20px;
} 

hr {
  display: block;
  margin-top: 0.53em;
  margin-bottom: 0.53em;
  margin-left: 10%;
  margin-right: 10%;
  border-style: inset;
  border-width: 1px;
  color: #000000;
}

ul {
    list-style-type:none;
    padding-left: 0;
}

h3{
    text-decoration: underline;
}
.parent {
  width: 100%;
  text-align: center;
}

.menu {
  display: inline-block;
  width: 100%;
}

* {
 font-size: 100%;
 font-family: Roboto;
}
.purr{
	position: fixed;
	top: 30px;
	right: 100px;
	width: 250px;
	padding: 20px;
	background-color: #FCC;
	border: solid 2px #C66;
	&:first-letter { text-transform: uppercase; }
}